body {
  background-color: #17171c;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.btn,
.restart-game {
  border: 0;
  padding: 8px 28px 7px 28px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
}

.rock,
.scissors,
.restart-game {
  background-color: #ff4244;
  color: white;
}

.rock:hover,
.scissors:hover,
.restart-game:hover {
  background-color: FireBrick;
}

.paper {
  background-color: #f0f0f0;
  color: #343434;
}

.paper:hover {
  background-color: Lavender;
  color: black;
}

.restart-game {
  display: none;
}

.round-current {
  font-size: 18px;
}

.round-result {
  font-size: 18px;
  color: #ff3437;
}

.disabled {
  background-color: #e6e6e6;
  color: #828282;
  pointer-events: none;
}

.winner-text {
  color: white;
}
